@using Splitwiser.Models
@model Tuple<List<GroupPaymentHistoryViewModel>, Guid>
<h1>Group</h1>

@* <a href="@Model.Item2/AddPayment">Dodaj koszty</a> *@

<a href="@Model.Item2/AddPayment">Dodaj koszty</a>

@* <a asp-action="chosenGroup/@Model.Item2/AddPayment" asp-controller="Group">Dodaj koszty</a> *@


<table>
    <thead>
        <tr>
            <th>GroupName</th>
            <th>UserName</th>
            <th>TransactionName</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paymentHistory in Model.Item1)
        {
            <tr>
                <td>@paymentHistory.GroupName</td>
                <td>@paymentHistory.UserName</td>
                <td>@paymentHistory.TransactionName</td>
                <td>@paymentHistory.Amount</td>
            </tr>
        }
    </tbody>
</table>
